<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Atendente</title>
    <%- include("../partials/cabecalho.ejs") %>
</head>
<body>
    <div class="container">
        <form action="/atendentes" method="post">
            <div>
                <label class="form-label">Nome:</label>
                <input type="text" class="form-control" name="nome" required></div>
            <div>
            <div>
                <label class="form-label">Função:</label>
                <input type="text" class="form-control" name="funcao" required></div>
            <div>
            <div>
                <label class="form-label">Salário:</label>
                <input type="number" class="form-control" name="salario" required></div>
            <div>
                <label class="form-label">Id:</label>
                <input type="number" class="form-control" name="id" required>
            </div>
                <a href="/" class="btn btn-danger">Voltar</a>
                <input type="submit" class="btn btn-success" value="Salvar">
            </div>
        </form>
    </div>
    <%- include("../partials/rodape.ejs") %>
</body>
</html>